@media (max-width: 1060px) {
    .header {
        nav {
            .nav_item {
                gap: 15px;
            }
        }
    }

    // #QRPay{

    // }
}

@media (min-width: 920px) {
    .header {
        nav {
            .nav_link_account {
                display: none;
            }
        }
    }

    .home {
        #QRPay {
            display: none;
        }
    }
}

@media (max-width: 920px) {
    body.active {
        overflow: hidden;
    }

    body.scanner_active {
        overflow: hidden;
    }

    .header {
        margin: 10px 20px 25px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .account_name {
            display: block;
        }

        .account_name.account_name_active {
            position: relative;
            z-index: 1000;
        }

        nav {
            height: 106px;
            padding: 18px 20px 40px 20px;
            width: 100%;
            position: fixed;
            left: 0;
            bottom: 0;
            z-index: 5;
            border-radius: 16px;
            border: 1px solid #312C35;
            background: var(--main-color-262329, #262329);
            box-shadow: 0px 0px 35px 0px rgba(27, 27, 27, 0.05);

            .nav_link {
                .link {
                    flex-direction: column;
                    gap: 8px;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.2px;
                }
            }

            .nav_link.active::after {
                top: -18px;
                width: 100%;
                border-radius: 0 0 4px 4px;
            }
            .nav_link_payment.active::after{
                display: none;
            }
            .nav_link_payment {
                transform: translateY(-37%);    
                .link {
                    svg {
                        path {
                            fill: none;
                            stroke: #000;
                        }
                    }
                    &:hover {
                        svg {
                            path {
                                fill: none;
                                stroke: #000;
                            }
                        }
                    }
                    span{
                        z-index: 3;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: var(--main-color-c-7-ff-24, #C7FF24);
                        width: 64px;
                        height: 64px;
                        border-radius: 50%;
                    }
                }
            }
            .nav_link_payment.active {
                .link {
                    svg {
                        path {
                            fill: none;
                            stroke: #000;
                        }
                    }
                }
            }


        }

        nav.nav_active {
            z-index: 1000;
        }
        
        .header_profile {
            z-index: 10;
            height: auto;
            padding: 0;
            background-color: transparent;
        }

        .notification {
            z-index: 4;
            height: auto;
            padding: 0;
            background-color: transparent;

            .notification_in {
                position: relative;
                z-index: 4;
            }

            .notifictaion_list {
                top: -10px;
                right: -20px;
                margin: 0;
                width: 100vw;
                height: 100vh;
                z-index: 1;
                border: none;
                border-radius: 0px;
                padding-bottom: 124px;

                .notification_head {
                    padding-top: 61px;
                    border-bottom: none;
                    padding-bottom: 0;
                }

                .notification_foot {
                    display: none;
                }

                .notifictaion_content_wrappert {
                    padding: 25px 0 0;
                    position: relative;
                    height: calc(100% - 80px);
                    
                    .notification_content {
                        padding: 0px 20px;
                        min-height: auto ;
                        max-height: none ;
                        position: relative;
                        height: 100%;

                        .notifictaion_item {
                            .top {
                                font-size: 14px;
                            }

                            .bottom {
                                img {
                                    width: 38px;
                                    height: 38px;
                                }

                                .right {
                                    width: calc(100% - 50px);

                                    .right_title {
                                        .title {
                                            font-size: 16px;
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: 135%;
                                        }

                                        .time {
                                            font-size: 14px;
                                        }
                                    }

                                    .content {
                                        font-size: 14px;

                                        span {
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .header_profile.header_profile_active {
            z-index: 1000;
            position: relative;
        }
    }
    
    .home,
    .wallet,
    .history,
    .payment_page,
    #profile {
        margin-bottom: 150px;
    }

    .main_app {
        .main_app_container {
            .main_app_item {
                position: absolute;
                width: calc(100%);
            }

            .main_app_left {
                background-color: transparent;
            }
        }
    }

    .swiper_wrapper {
        .swiper_button {
            display: none;
        }

        .slider_item {
            .currency {
                font-size: 12px;
            }

            .money {
                font-size: 30px;
            }
        }
    }

    .main_container {
        padding: 0;
    }

    .home {
        padding: 0;

        .payment {
            padding-bottom: 25px;
        }

        #QRPay {
            width: calc(100% - 40px);
            margin-left: 20px;
            margin-bottom: 25px;
            margin-top: 0;
        }
    }

    .transaction_wrapper {
        margin: 0 20px;
        border-radius: 16px;
        padding: 16px;
        background: var(--main-color-262329, #262329);

        .title {
            padding: 0 0 20px 0;
            color: #FFF;
            font-family: "Rubik", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.36px;
        }

        .transactions {
            padding: 0;

            .text {
                .text_bottom {
                    .time {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .select_currency {
        .select_currency_button {
            border-radius: 12px;
        }
    }

    .wallet {
        .accounts {
            background-color: transparent;
            
            .currency {
                font-size: 12px;
            }
        }
        
        .add_account {
            padding: 16px;
            width: calc(100% - 40px);
            margin-left: 20px; 
            border-radius: 16px 16px 0px 0px;
            background: #3B363F;
            height: 564px;
            position: relative;

            .title {
                font-size: 18px;
                letter-spacing: 0.36px;
                margin-bottom: 24px;
            }

            .user_data {
                display: block;
                margin-top: 24px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .user_data_item {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .data {
                        color: #A6A4B4;
                        font-family: "Rubik", sans-serif;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 135%;
                    }

                    .value {
                        color: #FFF;
                        font-family: "Rubik", sans-serif;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 135%;
                    }
                }
            }

            .main_btn {
                position: absolute;
                left: 16px;
                width: calc(100% - 32px);
                bottom: 16px;
            }
        }

        .account_wrapper_mobile {
            display: none;
        }

        .add_account_wrapper {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    .walletId{
        margin-bottom: 120px;
    }

    .auth_wrapper {
        .auth_bg {
            display: none;
        }

        .auth_content {
            border: none;
            width: calc(100%);
            .auth_title_mobile{
                display: none;
            }
            .auth_title{
                padding-top: 32px;
            }
            .log_in {
                .identifiction{
                    .link_text_wrapper{
                        max-width: 100%;
                        button{
                            width: 100%;
                            justify-content: space-between;
                        }
                    }
                }
            }

            .auth_in {
                .title {
                    margin: 0 auto 72px;
                }
                .text{
                    margin-bottom: 47px;
                }
            }
            .register{
                .step_head{
                    margin: 16px 0 25px 0;
                }
                .step{
                    .inputs{
                        .phone_input_wrapper{
                            max-width: 100%;
                            .phone_input{
                                height: 52px;
                            }
                        }
                        .input_wrapper{
                            input{
                                height: 50px;
                            }
                        }
                    }
                }
                .step_1{
                    .inputs{
                        margin-bottom: 99px;
                    }
                }
                .step_2 {
                    .identifiction_title{
                        max-width: 100%;
                    }
                    .identifiction_description{
                        max-width: 100%;
                    }
                    .confirm_inputs{
                        max-width: 100%;
                    }
                    .link_text_wrapper{
                        max-width: 100%;
                        button{
                            width: 100%;
                            justify-content: space-between;
                        }
                    }
                }
                .step_3 {
                    .identifiction_title{
                        max-width: 100%;
                    }
                    .identifiction_description{
                        max-width: 100%;
                    }
                    .confirm_inputs{
                        max-width: 100%;
                    }
                }
            }
        }
    }

    .main_app_right {
        display: none;
    }

    .wallet_save {
        border-radius: 16px;
        background: #262329;
        height: 558px;
        width: calc(100% - 40px);
        margin-left: 20px;

        .input {
            width: calc(100% - 32px);
            margin-top: 25px;
        }

        .user {
            width: calc(100% - 32px);
        }

        .main_btn {
            width: calc(100% - 32px);
            margin-left: 16px;
        }
    }

    .payment {
        button {
            span{
                font-size: 14px
            }
        }
    }

    .walletId {
        .history_head {
            .title{
                font-size: 18px;
            }
        }
    }

    #profile {
        margin-bottom: 0;
        background-color: transparent;
        .profile_header {
            .profile_avatar{
                width: 120px;
                height: 120px;
            }
            .profile_name{
                h3{
                    max-width: 150px;
                }
            }
        }
    }

    #QRPay{
        margin-bottom: 150px;
        display: flex;
        justify-content: flex-end;
        position: relative;
        width: calc(100% - 40px);
        margin-left: 24px;

        .qrpay_text {
            position: absolute;
            top: 16px;
            left: 16px;
            z-index: 3;
            margin: 0;
            padding: 0;

            h3 {
                font-size: 18px;
                letter-spacing: 0.36px;
                margin-bottom: 12px;
            }

            p {
                font-size: 14px;
                max-width: 204px;
            }
        }

        .qrpay_img .hand_img {
            position: absolute;
            bottom: -7px;
            right: -10px;
            height: 120px;
            z-index: 2;
        }
    }

    #qr_code{
        padding: 15px;
        gap: 15px;
        margin: 0 24px 0 24px;

        .qr_img {
            .qr_avatar {
                width: 45px;
            }
        }

        .qr_name{
            h4{
                font-size: 18px;
            }
            p{
                font-size: 14px
            }
            .qr_btn{
                gap: 5px;
                font-size: 14px;
            }
        }
    }


    .date_picker_wrapper.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(38, 35, 41, 0.5);
        backdrop-filter: blur(2.5px);
        z-index: 100;
    }

    .vdpr-datepicker {
        position: static;
    }

    .date_range_picker {
        .vdpr-datepicker__calendar-dialog {
            right: 50%;
            top: 50%;
            transform: translate(50%, -50%);
            margin: 0;
        }
    }

    .history {
        border-radius: 16px;
        background: #262329;
        width: calc(100% - 40px);
        margin-left: 20px;
        padding-top: 16px;

        .history_head {
            padding: 0px 16px;

            .title {
                font-size: 18px;
                letter-spacing: 0.36px;
            }
        }

        .statistics {
            padding: 0px 16px;

            .statistics_img {
                display: none;
            }

            .statistics_img_mobile {
                display: block;
            }
        }

        .statistics_list {
            padding-left: 16px;
            padding-right: 16px;
        }

        .transaction_wrapper {
            margin: 0;
            padding: 0px 16px;

            .title {
                display: none;
            }
        }
    }


    .pay_modal_wrapper{
        .modal_bg{
            z-index: 44;
            background-color: #1B1B1B;
        }
        .pay_modal{
            z-index: 45;
            padding: 20px;
            .confirm_inputs{
                max-width: 100%;
            }
            .modal_main{
                margin-bottom: 125px;
                width: 100%;
            }
        }
    }

    .payment_page {
        padding: 0;
        
        .payment_desktop {
            display: none;
        }
        
        .payment_mobile {
            display: block;
            
            .head_buttons_bg.active {
                width: 100%;
                border-radius: 0px 0px 16px 16px;
                border: 1px solid rgba(49, 44, 53, 0.00);
                background: #262329;
                height: 135px;
                position: absolute;
                top: -72px;
                z-index: 2;
            }
            
            .head_buttons {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: calc(100% - 40px);
                margin-left: 20px; 
                padding: 4px;
                border-radius: 8px;
                background: #3B363F;
                z-index: 2;

                button {
                    color: #FFF;
                    font-family: "Rubik", sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    width: 50%;
                    padding: 8px 10px;
                    position: relative;
                    outline: none;
                    border: none;
                    background: transparent;
                }

                button.active {
                    color: #1B1B1B;
                }
                
                span {
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    width: calc(50% - 4px);
                    height: calc(100% - 8px);
                    border-radius: 6px;
                    background: #C7FF24;
                    transition: .2s ease all;
                }

                span.active {
                    left: 50%;
                }
            }

            .your_qr-code {
                display: none;
                margin-top: 85px;

                .bg_fon {
                    position: absolute;
                    z-index: -1;
                    left: 0;
                    top: 200px;
                    width: 100%;
                    height: calc(100vh - 275px);

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center top;
                    }
                }
                
                .imgs {
                    width: 232px;
                    height: 231px;
                    position: relative;
                    border-radius: 16px;
                    overflow: hidden;
                    margin: 0 auto 25px;

                    .user_qr_code {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .user_logotip {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 50px;
                        height: 50px;
                    }
                }

                .title {
                    color: #FFF;
                    font-family: "Rubik", sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.36px;
                    margin-bottom: 8px;
                    text-align: center;
                }

                .sub_title {
                    color: #FFF;
                    text-align: center;
                    font-family: "Rubik", sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 135%;
                    margin: 0 auto 8px;
                    max-width: 234px;
                }

                .link {
                    background: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                    margin: 0 auto;
                    
                    span {
                        color: #C7FF24;
                        font-family: "Rubik", sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                }
            }

            .scanner {
                .qrcode {
                    z-index: 1;
                }

                .qrcode-stream-camera {
                    height: calc(100vh - 130px);
                }

                .scanner_box {
                    width: 327px;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    position: fixed;

                    svg {
                        width: 100%;
                        height: auto;
    
                        path {
                            fill: #C7FF24;
                        }
                    }

                    .line_wrapper {
                        border-radius: 20px;
                        border: 4px solid rgba(38, 35, 41, 0.4);
                        position: absolute;
                        top: 6px;
                        left: 6px;
                        width: calc(100% - 12px);
                        height: calc(100% - 15px);
                        overflow: hidden;

                        @keyframes lineAnimation {
                            0% {
                                top: 0;
                            }
                            50% {
                                top: 100%;
                            }
                            100% {
                                top: 0;
                            }
                        }

                        .line {
                            background: #C7FF24;
                            width: 100%;
                            height: 4px;
                            position: relative;
                            top: 0px;
                            transition: 1.5s linear all;

                            &::before {
                                content: '';
                                position: absolute;
                                width: 307px;
                                height: 124px;
                                bottom: 0;
                                opacity: 0.3;
                                background: linear-gradient(180deg, rgba(199, 255, 36, 0.00) 0%, #C7FF24 100%);
                                display: none;
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                width: 307px;
                                height: 124px;
                                top: 0;
                                opacity: 0.3;
                                background: linear-gradient(180deg, #C7FF24 0%, rgba(199, 255, 36, 0.00) 100%);
                            }
                        }

                        .line.active {
                            top: 100%;

                            &::before {
                                display: block;
                            }

                            &::after {
                                display: none;
                            }
                        }
                    }
                }
            }

            .your_qr-code.active {
                display: block;
            }
        }
    }
}

@media (max-width: 768px) {}

@media (min-width: 576px) {
    .auth_wrapper {
        .auth_content {
            .log_in {
                .mobile_link {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 576px) { 
    .payment {
        padding: 25px 16px;

        button {
            padding: 12px;
            border-radius: 12px;
            gap: 4px;
            flex-direction: column;
            font-size: 14px
        }
    }

    .auth_wrapper {
        height: auto;
        padding: 0;

        .auth_content {
            padding: 0 20px;
            width: 100%;
            margin: 0 auto;

            .log_in {
                .mobile_link {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 16px 0;
                    text-decoration: none;

                    span {
                        color: #C7FF24;
                        font-family: "Rubik", sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                }

                .title {
                    margin-top: 25px;
                }

                .main_btn {
                    position: fixed;
                    bottom: 25px;
                    margin: 0;
                }

                .identifiction {
                    position: relative;


                    .link_text_wrapper {
                        position: absolute;
                        top: 0;
                        margin: 0;
                        padding: 16px 0;
                        width: 100%;
                    }

                    .identifiction_title {
                        padding-top: 78px;
                    }

                    .main_btn {
                        bottom: 80px;
                        margin: 0;
                    }

                    .again_btn {
                        position: fixed;
                        bottom: 30px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }

            .register {
                width: 100%;

                .step_head {
                    width: 100%;
                }

                .step_head_2 {
                    margin-top: 69px;
                }

                .step {
                    .main_btn {
                        position: fixed;
                        left: 20px;
                        width: calc(100% - 40px);
                        bottom: 25px;
                        margin-bottom: 0;
                    }
                }

                .step_2 {
                    .link_text_wrapper {
                        position: absolute;
                        top: 16px;
                        left: 20px;
                        margin: 0;
                        width: calc(100% - 40px);
                    }

                    .main_btn {
                        bottom: 80px;
                    }

                    .again_btn {
                        position: fixed;
                        bottom: 30px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .auth_wrapper .auth_content .log_in .main_btn {
        width: calc(100% - 40px);
    }
}